{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <th>No.</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </thead>
            <tbody>
                {% for key, product in session['cart'].items()  %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td><a href="{{ url_for('products.delete_from_cart', id=key) }}" class="btn btn-sm btn-danger">Remove from cart</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Total: {{ total_price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}