{% extends 'base.html' %}

{% block content %}
<h1>Create Your Product</h1>
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
         {{ form.name.label }}<br>
         {{ form.name(size=32) }}<br>
         {% for error in form.name.errors %}
             <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size=32) }}<br>
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(size=32) }}<br>
        {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.brand.label }}<br>
        {{ form.brand(size=32) }}<br>
        {% for error in form.brand.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(size=32) }}<br>
        {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class="form-control-file") }}<br>
        {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}