{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row row-cols-3">
       {% for product in products %}
            <div class="col">
                {{ product.name }}<br>
                <div>
                    <img src="{{ url_for('static', filename = 'images/products/' + product.image_file ) }}" style="width: 200px; height: 200px; object-fit: cover;">
                </div>
                {{ product.description }}<br>
                {{ product.brand_id}}<br>
                {{ product.category_id }}<br>
                {{ product.price }}<br>
                <small>Posted by {{ product.vendor }} on {{ product.date_posted }}</small>
            </div>
        {% endfor %}      
    </div>
</div>
{% endblock %}