<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="">Sporty</a></li>
                    <li><a href="">Sell product</a></li>
                    <li><a href="">Brands</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">Cart</a></li>
                    <li><a href="">Log out</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>This is the index page</h1>
</body>
</html>