{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row row-cols-3">
       {% for product in products %}
            <div class="col">
                {{ product.name }}<br>
                <div>
                    <img src="{{ url_for('static', filename = 'images/products/' + product.image_file ) }}">
                </div>
                {{ product.description }}<br>
                {{ product.brand_id}}<br>
                {{ product.category_id }}<br>
                {{ product.price }}<br>
                sold by {{ product.vendor }}
            </div>
        {% endfor %}      
    </div>
</div>
{% endblock %}